<h3>{{titulo}}</h3>
<table class="table table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let e of ejercicios;let i=index;">
            <td>{{e.codigo}}</td>
            <td>{{e.nombre}}</td>
            <td>{{e.descripcion}}</td>
            <td>
                <button class="btn btn-primary" (click)="editar(e.id)" title="Editar el ejercicio">
                    <span class="material-icons">edit_note</span>
                </button>
                <button class="btn btn-secondary" (click)="borrar(e.id)" title="Borrar el ejercicio">
                    <span class="material-icons">delete</span>
                </button>
                
            </td>
        </tr>
        <tr *ngIf="ejercicios.length==0">
            <td colspan="3">
                Cargando...
            </td>
        </tr>
    </tbody>
    <tfoot *ngIf="ejercicios.length>0">
        <tr>
            <td colspan="3">
                <button class="btn btn-primary" (click)="alta()">Agregar</button>
            </td>
        </tr>
    </tfoot>
</table>

